body {
    font-family: sans-serif;
    background: url("gambar.jpg");
  }
  
  header{
    clear: both;
    background-color: #46ded6;
    color: white;
    padding: 15px;
    text-align: center;
    }

  h1 {
    text-align: center;
    /*ketebalan font*/
    font-weight: 300;
  }
  
  .tulisan_login {
    text-align: center;
    /*membuat semua huruf menjadi kapital*/
    text-transform: uppercase;
  }
  
  .kotak_login {
    width: 350px;
    background: white;
    /*meletakkan form ke tengah*/
    margin: 80px auto;
    padding: 30px 20px;
  }

  .kotak_login2 {
    width: 350px;
    background: white;
    /*meletakkan form ke tengah*/
    margin: 80px auto;
    padding: 30px 20px;
  }
  
  label {
    font-size: 11pt;
  }
  
  .form_login {
    /*membuat lebar form penuh*/
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 11pt;
    margin-bottom: 20px;
  }
  
  .tombol_login {
    background: #46de4b;
    color: white;
    font-size: 11pt;
    width: 100%;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
  }
  
  .link {
    color: #232323;
    text-decoration: none;
    font-size: 10pt;
  }

  footer{
    clear: both;
    background-color: #46ded6;
    color: white;
    padding: 15px;
    text-align: center;
    }